/* Nagłówek ustawiony na samej górze */
.header {
  background-color: #050259; /* Kolor tła nagłówka */
  color: white; /* Kolor tekstu na biały */
  padding: 20px 0; /* Padding wewnętrzny */
  width: 100%; /* Szerokość 100% */
  margin: 0; /* Usunięcie marginesu */
  position: fixed; 
  top: 0; /* Przyklejony do góry strony */
  left: 0; /* Zaczyna się od lewej strony */
  z-index: 9999; /* Ustawia nagłówek na najwyższy poziom */
  /* font-family: 'Optima', sans-serif; */
  font-family: 'headerFont';
  font-weight: bold;
  }

.my-font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Zapewnienie, że reszta strony ma miejsce na nagłówek */
body {
  padding-top: 120px; /* Zwiększamy przestrzeń na nagłówek */
}
/* Kontener w nagłówku - wyśrodkowany */
.header .container {
  max-width: 1200px; /* Maksymalna szerokość kontenera */
  margin: 0 auto; /* Wyśrodkowanie kontenera */
  padding: 0 15px; /* Padding wewnętrzny */
}

/* Ustawienia dla h2 i h3 */
.header h2, .header h3 {
  margin: 0; /* Usunięcie marginesów */
}

/* Dostosowanie przycisków */
.header .btn {
  margin-left: 10px; /* Odstępy między przyciskami */
}

@font-face {
  font-family: 'headerFont';
  src: url('../assets/fonts/recursive/Recursive_Casual-Bold.ttf');
  font-weight: bold;
}