.button {
    background-color: #ff4d4d; 
    color: #fff;
    border: none;
    border-radius: 12px; 
    padding: 10px 10px;;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  
  .button:hover {
    background-color: #cc0000; 
  }
  
  .button:active {
    background-color: #990000;
  }
  